# Object files
*.o
*.obj

# Temporary files
*.bak
*.tmp

# Compiled files
*.hex
*.elf
*.cof

# MPLAB X IDE specific
.generated_files/*
nbproject/private/*
nbproject/Makefile-genesis.properties
dist/*
build/*

# Debug files
*.d
*.map

# Ignore cscope and ctags files
cscope.*
tags

# Executables
*.exe
*.out
