#IDE Junk
.vscode

# Object files
*.o
*.obj

# Temporary files
*.bak
*.tmp

# Compiled files
*.hex
*.bin
*.elf
*.cof

# Debug files
*.d
*.map
/debug

# Ignore cscope and ctags files
cscope.*
tags

# Executables
*.exe
*.out

#ASF-Specific:
*.atsln
*.atzip
ASF/gcc/*

#MacOS DS_Store
**/.DS_Store

#Windows WSL Identifiers
*.Identifier

#Logs folder
logs/*